  .pad {
    padding-top: 50px;
  }
  /*Clase de bulma, la utlizo para sobreescribir el estilo por defecto*/
  .notification a:not(.button):not(.dropdown-item) {
    text-decoration: none;
  }
  
  .App {
    background: url(https://source.unsplash.com/collection/9496370/dogs) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar {
    background: #ada8a859;
  }

  .footer {
    background: #ada8a859;
    margin-top: 30px;
    color: black;
  }
  .footer a {
    color: #00ff89;
  }
  .footer strong {
    color:black;
    font-size: 21px;
  }

  @media(max-width: 600px){
    .card-id {
    }
  }
  @media(min-width: 599px){
    .card-id {
      max-height: 500px;
    }
    .card-id .img {
      max-height: 250px;
      width: auto;
    }
  }

  .notification {
    border-radius: 20px;
    color: white;
    background-color: #0000006b;
  }
  .button.is-primary {
    background: #9400d1;
    margin-top: 7px;;
  }
  .button.is-primary:active {
    background-color: #5b2e75;
  }
  .button.is-primary:hover {
    background-color: #5b2e75;
  }

  .navbar-item {
    font-size: 20px;
    color: white;
    margin-left: 15px;
  }
  a.navbar-item:hover {
    font-size: 22px;
    color: white;
    background: #ff000000;
  }

  .cardHome {
    margin: 10px; 
  }
  .card-id {
    background: #0a0a0a87;
  }

  .mar {
    margin-top: 40px;
  }

  .icon-id {
    
  }
  .queryNav {
    margin-top: 5px;;
  }
  .queryNav input {
    background: #ffffff00;
    color: #00e0cb;
  }
  .queryNav input:active, .queryNav input:hover, .queryNav input:focus {
    border-color: #00e0cb;
    box-shadow: 0 0 0 0.125em rgba(0, 224, 203, 0.21);
  }
  .queryNav input::placeholder {
    color: #00e0cb;;
  }